<html lang="en">

  {{> header title="Contact Support - Rosetta"}}

  <body>

    <!-- -->

    {{> page_header}}

    <!-- -->

    <section class="pt-160 pb-60">

      <div class="graphic-header">
        <img
          class="graphic-header__curve graphic-header__curve--brand-one"
          src="assets/svg/common/header-curve.svg"
          alt="Graphic of curve for aesthetics"
        />
        <object
          data="assets/svg/contact/contact-header.svg"
          type="image/svg+xml"
          class="graphic-header__graphic"
        ></object>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="font-size-m7 mb-0">Contact</p>
            <h1 class="font-size-xl2 font-color-brand-one mb-45">our support
              team</h1>
            <p class="mb-30">Rosetta is supported by Financial Technology firm
              REGnosys.​<br />
              Already registered on Rosetta? Sign-in to chat with a member of
              our team.</p>
            <a
              href="{{ config.externalLinks.signIn }}"
              class="button"
            >Sign in</a>
          </div>
        </div>
      </div>
    </section>

    <!-- -->

    <section class="pt-110 pb-10 position-relative">
      <div class="body-curve">
        <canvas
          data-primary-color="#bddc5e"
          data-secondary-color="#bddc5e"
          data-top-shape-svg-url="/assets/svg/curve/curve-e-top.svg"
          data-top-shape-y-offset-percentage="0"
          data-margin-top-percentage-of-top-shape-height="0.3"
          data-bottom-shape-svg-url="/assets/svg/curve/curve-e-bottom-alt-1.svg"
          data-bottom-shape-y-offset-percentage="0"
          data-margin-bottom-percentage-of-bottom-shape-height="0"
        ></canvas>
      </div>
      <div class="container body-curve-content" style="margin-top: -160px">
        <div class="row df-mb-ml-5 mb-80">

          <div class="col-md-7 info-panel pb-ml-o-50 mb-20">
            <div
              class="info-panel__content info-panel__content--tablet-reduced-padding"
            >
              <object
                data="assets/svg/common/common-cog-ani.svg"
                type="image/svg+xml"
                class="info-panel__primary-icon"
              ></object>
              <p class="font-size-l1 font-weight-semi-bold mb-15">Trouble
                signing in?</p>
              <p class="font-size-m2">I can't sign-in,
                <a
                  href="{{ config.externalLinks.status }}"
                  target="_blank"
                >is the service down?</a></p>
              <p class="font-size-m2">I can't sign-in and I would like to
                <a
                  href="{{ config.externalLinks.issueSubmit }}"
                  target="_blank"
                >report this outage</a></p>
              <p class="font-size-m2">Forgot your
                <a
                  href="{{ config.externalLinks.passwordReset }}"
                  target="_blank"
                >password</a>?</p>
              <p class="font-size-m2">For an update on known issues being worked
                on,
                <a
                  href="{{ config.externalLinks.issueTracking }}"
                  target="_blank"
                >visit our issue tracker page​</a></p>
            </div>
          </div>

          <div class="col-md-4 info-panel pb-ml-o-50 text-align-center">
            <div
              class="info-panel__content info-panel__content--tablet-reduced-padding"
            >
              <object
                data="assets/svg/common/common-tags-ani.svg"
                type="image/svg+xml"
                class="info-panel__primary-icon"
              ></object>
              <p class="font-size-l1 font-weight-semi-bold">Sales &amp;
                Partnerships​</p>
              <p class="font-size-m2 mb-20">We'd love to talk about how
                <br />we can work together</p>
              <div class="display-flex justify-content-center">
                <a
                  href="contact-sales.html"
                  class="link-with-graphic mb-40 font-weight-semi-bold"
                >
                  Contact sales<i><img
                      src="assets/svg/common/link-with-arrow.svg"
                      alt="Link graphic"
                    /></i>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- -->

    {{> footer}}

    <!-- -->

    <div class="mini-header-trigger"></div>

    <!-- -->

    {{> scripts}}

  </body>

</html>