<!DOCTYPE html>
<html lang="en">

  {{> header title="Pricing - Rosetta"}}

  <body>

    <div class="site-wrapper">

      <!-- -->

      {{> page_header}}

      <!-- -->

      <section class="pt-160 pb-90 position-relative">

        <div class="body-curve">
          <canvas
            data-primary-color="#ea409d"
            data-secondary-color="#ea409d"
            data-top-shape-svg-url="/assets/svg/curve/curve-a-top.svg"
            data-top-shape-y-offset-percentage="0"
            data-margin-top-percentage-of-top-shape-height="0"
            data-bottom-shape-svg-url="/assets/svg/curve/curve-a-bottom.svg"
            data-bottom-shape-y-offset-percentage="0.7"
            data-margin-bottom-percentage-of-bottom-shape-height="0"
          ></canvas>
        </div>
        <div class="container body-curve-content">
          <div class="row">
            <div class="col-md-12">
              <p class="font-size-m7 mb-0 font-color-brand-aux-two">Rosetta</p>
              <h1 class="font-size-xl2 font-color-brand-aux-two mb-45">Package plans</h1>
              <p class="font-color-brand-aux-two">For all needs, from community to enterprise</p>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <!-- Pricing table. -->
      <section class="pricing-table pb-40">
        <div class="container">

          <div class="row pricing-table__header-levels">
            <div class="col-md-6 pricing-table__header-levels--core pr-7-5">
              <div class="inset">
                <p class="mb-0 font-weight-semi-bold font-color-brand-aux-two">Open Source Use</p>
              </div>
              <div class="color-fill-expansion"></div>
            </div>
            <div class="col-md-6 pricing-table__header-levels--advanced pl-7-5">
              <div class="inset">
                <p class="mb-0 font-weight-semi-bold font-color-brand-aux-two">Private Use</p>
              </div>
              <div class="color-fill-expansion"></div>
            </div>
          </div>

          <div class="row pricing-table__header">
            <div class="col-md-3 pricing-table__header-column pr-7-5">
              <div class="pricing-table__header-column-inset">
                <p
                  class="pricing-table__header-column-heading font-size-l3 font-weight-semi-bold mb-20 font-color-brand-aux-five heading-height-reference"
                  data-aos="fade-right"
                >
                  Community
                </p>
                <div class="pricing-table__header-column-price-container">
                  <p class="pricing-table__header-column-price font-color-brand-aux-two font-size-l5 font-weight-light">Free</p>
                  <p class="pricing-table__header-column-price-note font-color-brand-aux-two font-size-m3">For non commercial use</p>
                </div>
                <a href="{{ config.externalLinks.signUp }}" class="button button--theme-b pricing-table__header-column-button">Sign up today</a>
              </div>
            </div>
            <div class="col-md-3 pricing-table__header-column pl-7-5 pr-7-5">
              <div class="pricing-table__header-column-inset">
                <p
                  class="pricing-table__header-column-heading font-size-l3 font-weight-semi-bold mb-20 font-color-brand-aux-five"
                  data-aos="fade-right"
                >
                  Essentials
                </p>
                <div class="pricing-table__header-column-price-container">
                  {{#with config.pricing.essentials}}
                  <p class="pricing-table__header-column-price font-color-brand-aux-two display-flex">
                    <span class="font-size-l4 font-weight-light mr-2">&pound;{{addCommas yearly.amount }}</span>
                    <span class="pricing-table__header-column-price-note font-size-m2">
                      <span class="mr-1">user/month</span>
                      <span>billed annually</span>
                    </span>
                  </p>
                  <p class="pricing-table__header-column-price-note font-color-brand-aux-two font-size-m3 mb-0">
                    <span class="opacity-50">(&pound;{{addCommas monthly.amount }} billed monthly)</span>
                  </p>
                  {{/with}}
                </div>
                <a href="contact-sales" class="button button--theme-b pricing-table__header-column-button">Contact sales</a>
              </div>
            </div>
            <div class="col-md-3 pricing-table__header-column pl-7-5 pr-7-5">
              <div class="pricing-table__header-column-inset">
                <p
                  class="pricing-table__header-column-heading font-size-l3 font-weight-semi-bold mb-20 font-color-brand-aux-five"
                  data-aos="fade-right"
                >
                  Pro
                </p>
                <div class="pricing-table__header-column-price-container">
                  {{#with config.pricing.pro}}
                  <p class="pricing-table__header-column-price font-color-brand-aux-two">
                    <span class="font-size-l4 font-weight-light mr-2">&pound;{{addCommas yearly.amount }}</span>
                    <span class="pricing-table__header-column-price-note font-size-m2">
                      <span class="mr-1">user/month</span>
                      <span>billed annually</span>
                    </span>
                  </p>
                  <p class="pricing-table__header-column-price-note font-color-brand-aux-two font-size-m3 mb-0">
                    <span class="opacity-50">(&pound;{{addCommas monthly.amount }} billed monthly)</span>
                  </p>
                  {{/with}}
                </div>
                <a href="contact-sales" class="button button--theme-b pricing-table__header-column-button">Contact sales</a>
              </div>
            </div>
            <div class="col-md-3 pricing-table__header-column pl-7-5">
              <div class="pricing-table__header-column-inset">
                <p
                  class="pricing-table__header-column-heading font-size-l3 font-weight-semi-bold mb-20 font-color-brand-aux-five"
                  data-aos="fade-right"
                >
                  Enterprise
                </p>
                <div class="pricing-table__header-column-price-container">
                  {{#with config.pricing.enterprise}}
                  <p class="pricing-table__header-column-price font-color-brand-aux-two display-flex">
                    <span class="font-size-l4 font-weight-light mr-2">&pound;{{addCommas yearly.amount }}</span>
                    <span class="pricing-table__header-column-price-note font-size-m2">
                      <span class="mr-1">user/month</span>
                      <span>billed annually</span>
                    </span>
                  </p>
                  <p class="pricing-table__header-column-price-note font-color-brand-aux-two font-size-m3 mb-0">
                    <span class="opacity-50">(&pound;{{addCommas monthly.amount }} billed monthly)</span>
                  </p>
                  {{/with}}
                </div>
                <a href="contact-sales" class="button button--theme-b pricing-table__header-column-button">Contact sales</a>
              </div>
            </div>
          </div>

          <div class="row pricing-table__row-header">
            <div class="col-md-12">
              <div class="inset">
                <p>You are</p>
              </div>
            </div>
          </div>

          <div class="row pricing-table__row-content pricing-table__row-content--simple">
            <div class="col-md-3 pr-7-5">
              <div class="inset background-shade-1 height-100">
                <p class="font-weight-semi-bold">Engineering or Operations</p>
                <p>Occasional contributor</p>
              </div>
            </div>
            <div class="col-md-3 pl-7-5 pr-7-5">
              <div class="inset background-shade-1 height-100">
                <p class="font-weight-semi-bold">Engineering or Operations</p>
                <p>Regular, commercial contributor</p>
              </div>
            </div>
            <div class="col-md-3 pl-7-5 pr-7-5">
              <div class="inset background-shade-1 height-100">
                <p class="font-weight-semi-bold">Engineering</p>
                <p>Private, commercial use</p>
              </div>
            </div>
            <div class="col-md-3 pl-7-5">
              <div class="inset background-shade-1 height-100">
                <p class="font-weight-semi-bold">Engineering</p>
                <p>Private, commercial use</p>
              </div>
            </div>
          </div>

          <div class="row pricing-table__row-header">
            <div class="col-md-12">
              <div class="inset">
                <p>Deployment</p>
              </div>
            </div>
          </div>

          <div class="row pricing-table__row-content">
            <div class="col-md-12">
              <div class="inset background-shade-1">
                <p class="font-weight-semi-bold">Hosted</p>
                <p>On-Prem: <a href="contact-sales" class="font-weight-semi-bold">Contact sales</a></p>
              </div>
            </div>
          </div>

          <div class="row pricing-table__row-header pricing-table__row-header--expandable" data-expandable-content-selector=".features-content-wrapper">
            <div class="col-md-12">
              <div class="inset">
                <p>Features</p>
              </div>
            </div>
          </div>

          <div class="pricing-table__row-content-wrapper features-content-wrapper">

            <div class="row pricing-table__row-content">
              <div class="col-md-6 pr-7-5">
                <div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-2">
                  <img src="assets/svg/product/icons-static/product-design.svg" alt="Icon representing the Design feature.">
                  <div>
                    <p class="title font-weight-semi-bold">Design</p>
                    <p class="subtitle unexpanded-content">Public Project Only</p>
                    <ul class="expanded-content">
                      <li>Public Project Only</li>
                      <li>1 Workspace per Project</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pl-7-5">
                <div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-3">
                  <img src="assets/svg/product/icons-static/product-design.svg" alt="Icon representing the Design feature.">
                  <div>
                    <p class="title font-weight-semi-bold">Design</p>
                    <p class="subtitle unexpanded-content">Public + Private project</p>
                    <ul class="expanded-content">
                      <li>Public + Private Project</li>
                      <li>5 Workspaces per Project</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pl-7-5">
                <div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-3">
                  <img src="assets/svg/product/icons-static/product-design.svg" alt="Icon representing the Design feature.">
                  <div>
                    <p class="title font-weight-semi-bold">Design</p>
                    <p class="subtitle unexpanded-content">Public + Private project</p>
                    <ul class="expanded-content">
                      <li>Public + Private Project</li>
                      <li>Unlimited Workspaces</li>
                      <li>1 Guest User* per User</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="row pricing-table__row-content">
              <div class="col-md-3 pr-7-5">
                <div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-2">
                  <img src="assets/svg/product/icons-static/product-ingest.svg" alt="Icon representing the Ingest feature.">
                  <div>
                    <p class="title font-weight-semi-bold">Ingest</p>
                    <p class="subtitle unexpanded-content">Read-Only Project Only</p>
                    <ul class="expanded-content">
                      <li>Read-Only Project Only</li>
                      <li>Accessible via UI + API</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pl-7-5">
                <div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-2">
                  <img src="assets/svg/product/icons-static/product-ingest.svg" alt="Icon representing the Ingest feature.">
                  <div>
                    <p class="title font-weight-semi-bold">Ingest</p>
                    <p class="subtitle unexpanded-content">Using Public Dictionary&nbsp;Only</p>
                    <ul class="expanded-content">
                      <li>Using Public Dictionary&nbsp;Only</li>
                      <li>Accessible via UI + API</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-7-5">
                <div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-3 padding-left-35pc">
                  <img src="assets/svg/product/icons-static/product-ingest.svg" alt="Icon representing the Ingest feature.">
                  <div>
                    <p class="title font-weight-semi-bold">Ingest</p>
                    <p class="subtitle unexpanded-content">Using Public + Private Dictionary</p>
                    <ul class="expanded-content">
                      <li>Using Public + Private Dictionary</li>
                      <li>Accessible via UI + API</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="row pricing-table__row-content">
              <div class="col-md-3 pr-7-5"><div class="background-shade-1 height-100"></div></div>
              <div class="col-md-3 pl-7-5">
                <div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-2">
                  <img src="assets/svg/product/icons-static/product-translate.svg" alt="Icon representing the Translate feature.">
                  <div>
                    <p class="title font-weight-semi-bold">Translate</p>
                    <p class="subtitle unexpanded-content">Edit Public Dictionary&nbsp;Only</p>
                    <ul class="expanded-content">
                      <li>Edit Public Dictionary&nbsp;Only</li>
                      <li>Edit Public Test Pack Only</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-7-5">
                <div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-3 padding-left-35pc">
                  <img src="assets/svg/product/icons-static/product-translate.svg" alt="Icon representing the Translate feature.">
                  <div>
                    <p class="title font-weight-semi-bold">Translate</p>
                    <p class="subtitle unexpanded-content">Edit Public + Private Dictionary</p>
                    <ul class="expanded-content">
                      <li>Edit Public + Private Dictionary</li>
                      <li>Edit Public + Private Test Pack </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="row pricing-table__row-content">
              <div class="col-md-3 pr-7-5">
                <div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-2">
                  <img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
                  <div>
                    <p class="title font-weight-semi-bold">Engine</p>
                    <p class="subtitle unexpanded-content">Read-Only Project Only</p>
                    <ul class="expanded-content">
                      {{#with config.pricing.community.api}}
                      <li>Read-Only Project Only</li>
                      <li>{{addCommas limit }} API Requests User/Month</li>
                      {{/with}}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pl-7-5 pr-7-5">
                <div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-2">
                  <img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
                  <div>
                    <p class="title font-weight-semi-bold">Engine</p>
                    <p class="subtitle unexpanded-content">Essentials Performance</p>
                    <ul class="expanded-content">
                      {{#with config.pricing.essentials.api}}
                      <li>Shared H/W</li>
                      <li>{{addCommas limit }} API Requests User/Month</li>
                      {{/with}}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pl-7-5">
                <div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-4">
                  <img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
                  <div>
                    <p class="title font-weight-semi-bold">Engine</p>
                    <p class="subtitle unexpanded-content">Pro Performance</p>
                    <ul class="expanded-content">
                      {{#with config.pricing.pro.api}}
                      <li>Private H/W</li>
                      <li>{{addCommas limit }} API Requests User/Month</li>
                      <li>Then: &pound;{{ amountPerRequest }} per API Request</li>
                      {{/with}}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pl-7-5">
                <div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-4">
                  <img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
                  <div>
                    <p class="title font-weight-semi-bold">Engine</p>
                    <p class="subtitle unexpanded-content">Enterprise Performance</p>
                    <ul class="expanded-content">
                      {{#with config.pricing.enterprise.api}}
                      <li>Private H/W</li>
                      <li>{{addCommas limit }} API Requests User/Month</li>
                      <li>Then: &pound;{{ amountPerRequest }} per API Request</li>
                      {{/with}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="row pricing-table__row-content">
              <div class="col-md-6 pr-7-5"><div class="height-100 background-shade-1"></div></div>
              <div class="col-md-6 pl-7-5">
                <div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-5 padding-left-35pc">
                  <img src="assets/svg/product/icons-static/product-deploy.svg" alt="Icon representing the Deploy feature.">
                  <div>
                    <p class="title font-weight-semi-bold">Deploy</p>
                    <p class="subtitle unexpanded-content">Additional Option: <a href="contact-sales" class="font-weight-semi-bold">Contact sales</a></p>
                    <ul class="expanded-content">
                      <li>Additional Option: <a href="contact-sales" class="font-weight-semi-bold">Contact sales</a></li>
                      <li>Test, build and release automation</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="row pricing-table__row-content">
              <div class="col-md-9 pr-7-5"><div class="height-100 background-shade-1 fade-50"></div></div>
              <div class="col-md-3 pl-7-5">
                <div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-6">
                  <img src="assets/svg/product/icons-static/product-monitor.svg" alt="Icon representing the Monitor feature.">
                  <div>
                    <p class="title font-weight-semi-bold">Monitor</p>
                    <p class="subtitle unexpanded-content">Additional Option: <a href="contact-sales" class="font-weight-semi-bold">Contact&nbsp;sales</a></p>
                    <ul class="expanded-content">
                      <li>Additional Option: <a href="contact-sales" class="font-weight-semi-bold">Contact&nbsp;sales</a></li>
                      <li>Data Traceability Tool</li>
                      <li>Rule Auditability Tool</li>
                      <li>Accessible via UI + API</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section>
      <!-- End of Pricing table. -->

      <!-- -->

      <section class="pricing-blocks">

        <!-- Community. -->
        <div class="container pricing-block">
          <div class="pricing-block__header">
            <div class="pricing-block__header-level pricing-block__header-level--core">
              <p class="mb-0 font-weight-semi-bold font-color-brand-aux-two text-transform-uppercase">Open Source Use</p>
            </div>
            <div class="pricing-block__header-package-level">
              <p class="font-size-l3 font-weight-semi-bold mb-0 font-color-brand-three">Community</p>
            </div>
            <div class="pricing-block__header-pricing">
              <div class="pricing-block__header-pricing-text">
                <p class="price mb-0 font-color-brand-aux-two font-weight-light">FREE</p>
                <p class="note mb-0 font-color-brand-aux-two font-size-m4">For open source contribution</p>
              </div>
              <div class="pricing-block__header-pricing-button">
                <a href="#" class="button button--theme-b pricing-block__header-button block-expander">See details</a>
              </div>
            </div>
          </div>

          <div class="pricing-block__body">
            <div class="pricing-block__body-row">
              <div class="mb-15 pricing-block__body-row-header">
                <p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">You are</p>
              </div>
              <div class="mb-15 pricing-block__body-row-body">
                <div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
                  <p class="mb-0 font-weight-semi-bold font-size-m4">Engineering or Operations</p>
                  <p class="mb-0 font-size-m4">Occasional contributor</p>
                </div>
              </div>
            </div>

            <div class="pricing-block__body-row">
              <div class="mb-15 pricing-block__body-row-header">
                <p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Deployment</p>
              </div>
              <div class="mb-15 pricing-block__body-row-body">
                <div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
                  <p class="mb-0 font-weight-semi-bold font-size-m4">Hosted</p>
                  <p class="mb-0 font-size-m4">On-Prem: <a href="contact-sales" class="font-weight-semi-bold">Contact sales</a></p>
                </div>
              </div>
            </div>

            <div class="pricing-block__body-row">
              <div class="pricing-block__body-row-header pricing-block__body-row-header--expandable mb-15">
                <p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Features</p>
              </div>
              <div class="pricing-block__body-row-body">
                <div class="pricing-block__body-row-body-features">

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-3">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-design.svg" alt="Icon representing the Design feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Design</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Public Project Only</p>
                          <ul class="expanded-content">
                            <li>Public Project Only</li>
                            <li>1 Workspace per Project</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-3">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-ingest.svg" alt="Icon representing the Ingest feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Ingest</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Read-Only Project Only</p>
                          <ul class="expanded-content">
                            <li>Read-Only Project Only</li>
                            <li>Accessible via UI + API</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-3">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Engine</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Read-Only Project Only</p>
                          <ul class="expanded-content">
                            <li>Read-Only Project Only</li>
                            <li>{{addCommas config.pricing.community.api.limit }} API Requests</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pricing-block__body-row pb-20">
              <a href="{{ config.externalLinks.signUp }}" target="_blank" rel="noopener" class="button button--theme-b pricing-block__body-button">Sign up today</a>
            </div>
          </div>
        </div>
        <!-- End of Community. -->

        <div class="container block-divider"></div>

        <!-- Essentials. -->
        <div class="container pricing-block">
          <div class="pricing-block__header">
            <div class="pricing-block__header-level pricing-block__header-level--core">
              <p class="mb-0 font-weight-semi-bold font-color-brand-aux-two text-transform-uppercase">Open Source Use</p>
            </div>
            <div class="pricing-block__header-package-level">
              <p class="font-size-l3 font-weight-semi-bold mb-0 font-color-brand-three">Essentials</p>
            </div>
            <div class="pricing-block__header-pricing">
              <div class="pricing-block__header-pricing-text">
                <p class="price mb-0 font-color-brand-aux-two font-weight-light">&pound;{{addCommas config.pricing.essentials.yearly.amount }}</p>
                <p class="mb-0 font-color-brand-aux-two font-size-m2 display-flex flex-direction-column justify-content-flex-end">
                    <span>user/month billed annually</span>
                    <span class="opacity-50">(&pound;{{addCommas config.pricing.essentials.monthly.amount }} billed monthly)</span>
                </p>
              </div>
              <div class="pricing-block__header-pricing-button">
                <a href="{{ config.externalLinks.signUp }}" target="_blank" rel="noopener" class="button button--theme-b pricing-block__header-button block-expander">See details</a>
              </div>
            </div>
          </div>
          <div class="pricing-block__body">

            <div class="pricing-block__body-row">
              <div class="mb-15 pricing-block__body-row-header">
                <p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">You are</p>
              </div>
              <div class="mb-15 pricing-block__body-row-body">
                <div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
                  <p class="mb-0 font-weight-semi-bold font-size-m4">Engineering or Operations</p>
                  <p class="mb-0 font-size-m4">Regular, commercial contributor​</p>
                </div>
              </div>
            </div>

            <div class="pricing-block__body-row">
              <div class="mb-15 pricing-block__body-row-header">
                <p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Deployment</p>
              </div>
              <div class="mb-15 pricing-block__body-row-body">
                <div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
                  <p class="mb-0 font-weight-semi-bold font-size-m4">Hosted</p>
                  <p class="mb-0 font-size-m4">On-Prem: <a href="contact-sales" class="font-weight-semi-bold">Contact sales</a></p>
                </div>
              </div>
            </div>

            <div class="pricing-block__body-row">
              <div class="pricing-block__body-row-header pricing-block__body-row-header--expandable mb-15">
                <p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Features</p>
              </div>
              <div class="pricing-block__body-row-body">
                <div class="pricing-block__body-row-body-features">

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-3">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-design.svg" alt="Icon representing the Design feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Design</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Public Project Only</p>
                          <ul class="expanded-content">
                            <li>Public Project Only</li>
                            <li>1 Workspace per Project</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-3">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-ingest.svg" alt="Icon representing the Ingest feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Ingest</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Using Public Dictionary&nbsp;Only</p>
                          <ul class="expanded-content">
                            <li>Using Public Dictionary&nbsp;Only</li>
                            <li>Accessible via UI + API</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-3">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-translate.svg" alt="Icon representing the Translate feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Translate</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Edit Public Dictionary&nbsp;Only</p>
                          <ul class="expanded-content">
                            <li>Edit Public Dictionary&nbsp;Only</li>
                            <li>Edit Public Test Pack Only</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-3">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Engine</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Essentials Performance</p>
                          <ul class="expanded-content">
                            <li>Shared H/W</li>
                            <li>{{addCommas config.pricing.essentials.api.limit }} API Requests</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="pricing-block__body-row pb-20">
              <a href="contact-sales" class="button button--theme-b pricing-block__body-button">Contact sales</a>
            </div>
          </div>
        </div>
        <!-- End of Essentials. -->

        <div class="container block-divider"></div>

        <!-- Pro. -->
        <div class="container pricing-block">
          <div class="pricing-block__header">
            <div class="pricing-block__header-level pricing-block__header-level--advanced">
              <p class="mb-0 font-weight-semi-bold font-color-brand-aux-two text-transform-uppercase">Private Use</p>
            </div>
            <div class="pricing-block__header-package-level">
              <p class="font-size-l3 font-weight-semi-bold mb-0 font-color-brand-three">Pro</p>
            </div>
            <div class="pricing-block__header-pricing">
              <div class="pricing-block__header-pricing-text">
                <p class="price mb-0 font-color-brand-aux-two font-weight-light">&pound;{{addCommas config.pricing.pro.yearly.amount }}</p>
                <p class="mb-0 font-color-brand-aux-two font-size-m2 display-flex flex-direction-column justify-content-flex-end">
                    <span>user/month billed annually</span>
                    <span class="opacity-50">(&pound;{{addCommas config.pricing.pro.monthly.amount }} billed monthly)</span>
                </p>
              </div>
              <div class="pricing-block__header-pricing-button">
                <a href="#" class="button button--theme-b pricing-block__header-button block-expander">See details</a>
              </div>
            </div>
          </div>
          <div class="pricing-block__body">

            <div class="pricing-block__body-row">
              <div class="mb-15 pricing-block__body-row-header">
                <p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">You are</p>
              </div>
              <div class="mb-15 pricing-block__body-row-body">
                <div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
                  <p class="mb-0 font-weight-semi-bold font-size-m4">Engineering</p>
                  <p class="mb-0 font-size-m4">Private, commercial use</p>
                </div>
              </div>
            </div>

            <div class="pricing-block__body-row">
              <div class="mb-15 pricing-block__body-row-header">
                <p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Deployment</p>
              </div>
              <div class="mb-15 pricing-block__body-row-body">
                <div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
                  <p class="mb-0 font-weight-semi-bold font-size-m4">Hosted</p>
                  <p class="mb-0 font-size-m4">On-Prem: <a href="contact-sales" class="font-weight-semi-bold">Contact sales</a></p>
                </div>
              </div>
            </div>

            <div class="pricing-block__body-row">
              <div class="pricing-block__body-row-header pricing-block__body-row-header--expandable mb-15">
                <p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Features</p>
              </div>
              <div class="pricing-block__body-row-body">
                <div class="pricing-block__body-row-body-features">

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-3">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-design.svg" alt="Icon representing the Design feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Design</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Public + Private Project</p>
                          <ul class="expanded-content">
                            <li>Public + Private Project</li>
                            <li>5 Workspaces per Project</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-3">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-ingest.svg" alt="Icon representing the Ingest feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Ingest</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Using Public + Private Dictionary</p>
                          <ul class="expanded-content">
                            <li>Using Public + Private Dictionary</li>
                            <li>Accessible via UI + API</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-3">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-translate.svg" alt="Icon representing the Translate feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Translate</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Edit Public + Private Dictionary</p>
                          <ul class="expanded-content">
                            <li>Edit Public + Private Dictionary</li>
                            <li>Edit Public + Private Test Pack</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-4">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Engine</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Pro Performance</p>
                          <ul class="expanded-content">
                            <li>Private H/W</li>
                            <li>{{addCommas config.pricing.pro.api.limit }} API Requests</li>
                            <li>Then: &pound;{{ config.pricing.pro.api.amountPerRequest }} per API Request</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-5">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-deploy.svg" alt="Icon representing the Deploy feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Deploy</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Additional Option: <a href="contact-sales" class="font-weight-semi-bold">Contact sales</a></p>
                          <ul class="expanded-content">
                            <li>Additional Option: <a href="contact-sales" class="font-weight-semi-bold">Contact sales</a></li>
                            <li>Test, build and release automation</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="pricing-block__body-row pb-20">
              <a href="contact-sales" class="button button--theme-b pricing-block__body-button">Contact sales</a>
            </div>
          </div>
        </div>
        <!-- End of Pro. -->

        <div class="container block-divider"></div>

        <!-- Enterprise. -->
        <div class="container pricing-block">
          <div class="pricing-block__header">
            <div class="pricing-block__header-level pricing-block__header-level--advanced">
              <p class="mb-0 font-weight-semi-bold font-color-brand-aux-two text-transform-uppercase">Private Use</p>
            </div>
            <div class="pricing-block__header-package-level">
              <p class="font-size-l3 font-weight-semi-bold mb-0 font-color-brand-three">Enterprise</p>
            </div>
            <div class="pricing-block__header-pricing">
              <div class="pricing-block__header-pricing-text">
                <p class="price mb-0 font-color-brand-aux-two font-weight-light">&pound;{{addCommas config.pricing.enterprise.yearly.amount }}</p>
                <p class="mb-0 font-color-brand-aux-two font-size-m2 display-flex flex-direction-column justify-content-flex-end">
                    <span>user/month billed annually</span>
                    <span class="opacity-50">(&pound;{{addCommas config.pricing.enterprise.monthly.amount }} billed monthly)</span>
                </p>
              </div>
              <div class="pricing-block__header-pricing-button">
                <a href="contact-sales" class="button button--theme-b pricing-block__header-button block-expander">See details</a>
              </div>
            </div>
          </div>
          <div class="pricing-block__body">

            <div class="pricing-block__body-row">
              <div class="mb-15 pricing-block__body-row-header">
                <p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">You are</p>
              </div>
              <div class="mb-15 pricing-block__body-row-body">
                <div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
                  <p class="mb-0 font-weight-semi-bold font-size-m4">Engineering or Operations</p>
                  <p class="mb-0 font-size-m4">Commercial use</p>
                </div>
              </div>
            </div>

            <div class="pricing-block__body-row">
              <div class="mb-15 pricing-block__body-row-header">
                <p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Deployment</p>
              </div>
              <div class="mb-15 pricing-block__body-row-body">
                <div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
                  <p class="mb-0 font-weight-semi-bold font-size-m4">Hosted</p>
                  <p class="mb-0 font-size-m4">On-Prem: <a href="contact-sales" class="font-weight-semi-bold">Contact sales</a></p>
                </div>
              </div>
            </div>

            <div class="pricing-block__body-row">
              <div class="pricing-block__body-row-header pricing-block__body-row-header--expandable mb-15">
                <p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Features</p>
              </div>
              <div class="pricing-block__body-row-body">
                <div class="pricing-block__body-row-body-features">

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-3">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-design.svg" alt="Icon representing the Design feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Design</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Public + Private Project</p>
                          <ul class="expanded-content">
                            <li>Public + Private Project</li>
                            <li>Unlimited Workspaces</li>
                            <li>1 Guest User* per User</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-3">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-ingest.svg" alt="Icon representing the Ingest feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Ingest</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Using Public + Private Dictionary</p>
                          <ul class="expanded-content">
                            <li>Using Public + Private Dictionary</li>
                            <li>Accessible via UI + API</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-3">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-translate.svg" alt="Icon representing the Translate feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Translate</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Edit Public + Private Dictionary</p>
                          <ul class="expanded-content">
                            <li>Edit Public + Private Dictionary</li>
                            <li>Edit Public + Private Test Pack</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-4">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Engine</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Enterprise Performance</p>
                          <ul class="expanded-content">
                            <li>Private H/W</li>
                            <li>{{addCommas config.pricing.enterprise.api.limit }} API Requests</li>
                            <li>Then: &pound;{{ config.pricing.enterprise.api.amountPerRequest }} per API Request</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-5">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-deploy.svg" alt="Icon representing the Deploy feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Deploy</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Additional Option: <a href="contact-sales" class="font-weight-semi-bold">Contact sales</a></p>
                          <ul class="expanded-content">
                            <li>Additional Option: <a href="contact-sales" class="font-weight-semi-bold">Contact sales</a></li>
                            <li>Test, build and release automation</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pricing-block__body-row-body-feature mb-15">
                    <div class="pricing-block__body-row-body-feature-inset background-shade-6">
                      <div class="inset-content">
                        <img src="assets/svg/product/icons-static/product-monitor.svg" alt="Icon representing the Monitor feature.">
                        <div>
                          <p class="title font-weight-semi-bold font-size-m6">Monitor</p>
                          <p class="subtitle unexpanded-content font-size-m3 mb-0">Additional Option: <a href="contact-sales" class="font-weight-semi-bold">Contact sales</a></p>
                          <ul class="expanded-content">
                            <li>Data Traceability Tool</li>
                            <li>Rule Auditability Tool</li>
                            <li>Accessible via UI + API</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="pricing-block__body-row pb-20">
              <a href="contact-sales" class="button button--theme-b pricing-block__body-button">Contact sales</a>
            </div>
          </div>
        </div>
        <!-- End of Enterprise. -->

      </section>
      <!-- -->

      {{> footer}}

      <!-- -->

      <div class="mini-header-trigger"></div>

    </div>
    <!-- -->

    {{> scripts}}

  </body>

</html>
