<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img
                    src="assets/svg/common/logo-w.svg"
                    class="page-footer__logo"
                    alt="Rosetta logo"
                />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p class="page-footer__list-heading font-color-brand-one"><span>Products</span></p>
                <ul class="page-footer__nav-list">
                    <li><a href="design">Design</a></li>
                    <li><a href="ingest-and-translate">Ingest</a></li>
                    <li><a href="ingest-and-translate">Translate</a></li>
                    <li><a href="engine">Engine</a></li>
                    <li><a href="monitor">Monitor</a></li>
                    <li><a href="deploy">Deploy</a></li>
                    <li class="platform"><a href="platform">Platform</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="page-footer__list-heading font-color-brand-one"><span>About</span></p>
                <ul class="page-footer__nav-list">
                    <li><a href="index">Home</a></li>
                    <li><a href="open-source">Open Source</a></li>
                    <li><a href="community">Community</a></li>
                    <li><a href="it-security">IT Security</a></li>
                    <li><a
                            href="{{config.externalLinks.coreDocumentation}}"
                            target="_blank"
                        >Documentation</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-ml-o-10">
                <p class="page-footer__list-heading font-color-brand-one"><span>Pricing</span></p>
                <ul class="page-footer__nav-list">
                    <li><a href="pricing">Package Plans</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="page-footer__contact-heading"><span>Stay in touch</span></p>
                <ul class="page-footer__social-list">
                    <li><a href="{{config.externalLinks.linkedIn}}" target="_blank"><i><img
                                    src="assets/svg/common/social-linkedin.svg"
                                /></i><span>Linked In</span></a></li>
                    <li><a href="{{config.externalLinks.twitter}}" target="_blank"><i><img
                                    src="assets/svg/common/social-twitter.svg"
                                /></i><span>Twitter</span></a></li>
                    <li><a href="contact"><i><img
                                    src="assets/svg/common/social-lines.svg"
                                /></i><span>Lines</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="page-footer__terms-list">
                    <li>©Copyright 2021</li>
                    <li><a href="{{config.externalLinks.regnosys}}" target="_blank">REGnosys Ltd</a></li>
                    <li><a href="{{config.externalLinks.privacyStatement}}" target="_blank">Privacy
                            Statement</a></li>
                    <li><a href="{{config.externalLinks.termsOfUse}}" target="_blank">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>